{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>this is simple  task  o(1) project</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque molestiae, ea recusandae asperiores illo blanditiis nostrum odio, consectetur dolor dolorem necessitatibus similique neque voluptatum in tempore voluptatem cum alias adipisci atque inventore dolorum. Eius aliquid voluptatum similique harum quae nostrum ipsa sapiente quibusdam architecto quod rem dicta aperiam ratione ad nihil in, molestiae, error nobis. Quia quod quas praesentium velit, quidem nihil eos blanditiis veniam laboriosam, quo molestiae suscipit dolorem cum quaerat expedita rerum necessitatibus commodi neque! Voluptatum assumenda enim eaque ex dolor distinctio voluptatibus totam porro beatae! Placeat, ab! Cupiditate, minima quo. Hic ab et assumenda dignissimos in minus?</p>
</body>
</html>